
.body_              { background-color:#E7EFE7; FONT-FAMILY:Arial,sans-serif; FONT-SIZE:9pt; }
.body_atm           { background-color:#FFFFFF; FONT-FAMILY:Arial,sans-serif; FONT-SIZE:9pt; }
H2                  { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:14pt; }
FONT                { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:10pt }
FONT.small          { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:7pt }
STRONG              { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:12pt }
TD                  { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:9pt }
THEAD               { background-color:#8DC188; font-size:10pt; color:#f8f8f8; font-weight:bold; font-family:Arial,sans-serif; }
TH                  { background-color:#8DC188; font-size:10pt; color:#f8f8f8; font-weight:bold; font-family:Arial,sans-serif; }
TH.small            { background-color:#8DC188; font-size:8pt; color:#f8f8f8; font-weight:bold; font-family:Arial,sans-serif; }
INPUT               { text-decoration:none; font-family:Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; }
INPUT.login         { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }
INPUT.logoff        { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; }
INPUT.logoff1       { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; }
INPUT.button        { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#D2DCD2; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; }
INPUT.file          { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#D2DCD2; font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; }
SELECT              { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#FFFFFF; font-family:Arial,Helvetica,sans-serif; font-size:8pt; font-weight:normal; }
INPUT.invisible     { text-decoration:none; background-color:#CBE0CB; font-family:Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none}
TEXTAREA            { border-color:#FFFFFF; border: 1px solid; text-decoration:none; background-color:#FFFFFF; font-family:Arial,Helvetica,sans-serif; font-size:9pt; font-weight:normal; }
TABLE.colored TD    { font-size:10pt; font-family:Arial,sans-serif; background-color:#CBE0CB; }
TD.small_bold       { FONT-FAMILY:Arial,sans-serif; FONT-SIZE:8pt; }
TD.bold             { font-weight:bold; font-family:Arial,sans-serif;  FONT-SIZE:8pt; }
TD.small            { font-weight:normal; font-family:Arial,sans-serif;  FONT-SIZE:7pt; }
TR.bold             { font-weight:bold; font-family:Arial,sans-serif;FONT-SIZE:7pt; }
TR.small            { font-family:Arial,sans-serif;FONT-SIZE:7pt; }
TR.small_bold       { font-weight:bold; font-family:Arial,sans-serif;FONT-SIZE:8pt;}
A                   { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#208316; text-decoration:none;}
A:hover             { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#208316; text-decoration:underline;}
.theader                  { background-color:#8DC188; font-size:10pt; color:#f8f8f8; font-weight:bold; font-family:Arial,sans-serif; }
.red_link        { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#FF0000; text-decoration:none; }
.red_link:hover  { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#FF0000; text-decoration:underline; }
.att_link         { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#FF0000; text-decoration:none;}
.att_link:hover   { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#FF0000; text-decoration:underline;}
.small_link         { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#208316; text-decoration:none;}
.small_link:hover   { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#208316; text-decoration:underline;}
.small_link_bold        { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#3A7F4F; text-decoration:none; }
.small_link_bold:hover  { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#0A3F1F; text-decoration:underline; }
.v_small_link_bold      { font-size:7pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#3A7F4F; text-decoration:none; }
.v_small_link_bold:hover    { font-size:7pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#3A7F4F; text-decoration:underline; }
.big_link_bold        { font-size:11pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#3A7F4F; text-decoration:none; }
.big_link_bold:hover  { font-size:11pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#3A7F4F; text-decoration:underline; }
.white_link         { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#f8f8f8; text-decoration:none;}
.white_link:hover   { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#f8f8f8; text-decoration:underline;}
.header             { font-size:11pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; text-decoration:none; }
.mnt           { font-size:9pt; font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-style:normal; color:#008040; text-decoration:none; }
.mnt:hover     { font-size:9pt; font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-style:normal; color:#008040; text-decoration:none; BORDER-TOP:#008040 1px solid; BORDER-BOTTOM:#008040 1px solid; }
.mnl           { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#ffffff; text-decoration:none; }
.mnl:hover     { font-size:9pt; font-family:Arial,sans-serif; font-weight:normal; font-style:normal; color:#1f8415; text-decoration:underline; }
.top_small          { font-size:11px; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#800000; text-decoration:none; }
.top_small:hover    { font-size:11px; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#c40000; text-decoration:underline; }
.top_small_big          { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#800000; text-decoration:none; }
.top_small_big:hover    { font-size:9pt; font-family:Arial,sans-serif; font-weight:bold; font-style:normal; color:#c40000; text-decoration:underline; }
.green_text  { font-size :9pt; font-family:Arial,sans-serif; font-weight:bold; font-style : normal; color : #208316; text-decoration : none; }
.small_text                     
  {
    font-size :8pt;
    font-family:Arial,sans-serif;
    font-style : normal;
    color : #003366;
    text-decoration : none;
  }  
.big_text                     
  {
    font-size :10pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #003366;
    text-decoration : none;
  }  
.attention                     
  {
    font-size :10pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #FF0000;
    text-decoration : none;
  }  
.title                     
  {
    font-size :15pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #186921;
    text-decoration : none;
  }  

.drop_menu
  {
    font-size :15pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #186921;
    text-decoration : none;
  }  

.menuItem
  {
    font-size :8pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #000000;
    text-decoration : none;
  }  
.menuItem:hover
  {
    font-size :8pt;
    font-family:Arial,sans-serif;
    font-weight:bold;
    font-style : normal;
    color : #000000;
    text-decoration : underline;
  }  

.skin0{position:absolute; width:200px; border:2px solid black; background-color:menu; font-family:Verdana; line-height:20px; cursor:default; visibility:hidden; }
.skin1{cursor: default; font: mnt; position: absolute; width: 145px; background-color: menu;  border: 1 solid buttonface;visibility:hidden; border: 2 outset buttonhighlight; font-family: Verdana,Geneva, Arial; font-size: 10px; color: black;}
.menuitems{padding-left:15px; padding-right:10px; }

.form1sel {font-family: "Arial"; border-style:solid thin #008000; font-color:#000000; color:#000000; font-size: 8pt; background-color: #E8E8E8; font-weight: 100;}
.form1inp {font-family: "Arial"; font-size: 8pt; font-weight: 200; border:solid thin #008000; font-color:#000000; color:#000000; background-color: #E8E8E8;}
.form1inp1 {font-family: "Arial"; font-size: 8pt; font-weight: 200; border: 0px; font-color:#000000; color:#000000; background-color: #ffffff;}
.form1but {font-family: "Arial"; font-size: 8pt; color: #ffffff; background-color: #008000; border: solid thin #008000; font-weight: 500;}
.form2but {font-family: "Arial"; font-size: 7pt; color: #ffffff; background-color: #008000; height:17px; border: solid thin #008000; font-weight: 500;}
.form3but {font-family: "Arial"; font-size: 7pt; color: #ffffff; background-color: #7B7D7B; height:17px; border: solid thin #7B7D7B; font-weight: 500;}

.form1sel1 {font-family: "Arial"; font-size: 8pt; font-weight: 200; border: 0px; font-color:#000000; color:#000000; background-color: #ffffff;}


.table0td {font-family: "Arial"; font-size: 8pt; font-weight: 100; border:none; font-color:#191C1F; color:#000000; background-color: #e8e8e8;}
.table1td {font-family: "Arial"; font-size: 8pt; font-weight: 100; border:none; font-color:#191C1F; color:#000000; background-color: #f9f9f9;}
.table2td {font-family: "Arial"; font-size: 8pt; font-weight: 100; border:none; font-color:#FFFFFF; color:#FFFFFF; background-color: #008000;}
.table3td {font-family: "Arial"; font-size: 8pt; font-weight: 100; border:solid thin #008000; font-color:#191C1F; color:#191C1F; background-color: #f9f9f9;}
.table4td {font-family: "Arial"; font-size: 8pt; font-weight: 100; font-color:#191C1F; color:#191C1F; background-color: #f9f9f9;}
.table5td {font-family: "Arial"; font-size: 8pt; font-weight: 100; font-color:red; color:red; background-color: #f9f9f9;}

.drop { FONT-SIZE: 40px; FILTER: flipV(), flipH(); WIDTH: 3px; COLOR: #000000; POSITION: absolute }
#tooltip p {
	border: 1px solid #aaa;
	background-color: #BCEFBD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	/*border: none;*/
	padding: 5px;
	opacity: 0.85;
}

.modalDialog_transparentDivs{	
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	background-color:#AAA;
	z-index:1;
	position:absolute; /* Always needed	*/
	
}
.modalDialog_contentDiv{
	border:3px solid #000;	
	padding:2px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	background-color:#E7EFE7;	/* White background color for the message */
}
.modalDialog_contentDiv_shadow{
	/*background-color:#E7EFE7; FONT-FAMILY:Arial,sans-serif; FONT-SIZE:9pt;*/
	z-index:90;/* Always needed	- to make it appear below the message */
	position:absolute;	/* Always needed	*/
	background-color:#555;
	filter:alpha(opacity=30);	/* Transparency */
	opacity:0.3;	/* Transparency */	
}

/* Alternative layout for the message box - used by one of the messages */
	
.modalDialog_contentDiv_error{
	border:3px solid #FFF;	
	padding:2px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/
	background-color:#F00;	/* White background color for the message */
	color:#FFF;
}
.modalDialog_contentDiv_error a{
	color:#FFF;
}
h1{
	margin-top:0px;
}